# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea
.idea
.iml
jivejdon.iml
target
classes
wars
report
searchlib
servletlib
strutslib
classes/com/jdon/jivejdon/manager/account/SinaOAuthSubmitter.class
classes/com/jdon/jivejdon/repository/ThreadRepository.class
classes/com/jdon/jivejdon/manager/account/SinaOAuthSubmitter.class
classes/com/jdon/jivejdon/model/message/output/html/URLConverter.class
classes/com/jdon/jivejdon/model/message/weibo/AuthorNameFilter.class
classes/com/jdon/jivejdon/model/message/weibo/InFilterAuthor.class
classes/com/jdon/jivejdon/presentation/form/MessageForm.class
classes/com/jdon/jivejdon/repository/builder/MessageRepositoryDao.class
classes/com/jdon/jivejdon/repository/builder/ThreadRepositoryDao.class
classes/com/jdon/jivejdon/repository/dao/sql/MessageDaoSql.class
classes/com/jdon/jivejdon/service/imp/message/ForumMessageShell.class
report/TEST-com.jdon.jivejdon.infrastructure.repository.search.CompassTest.txt
report/TEST-com.jdon.jivejdon.domain.model.realtime.NotificationLocatorTest.txt
.classpath
.factorypath
.project
.report
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
classes
.class
classes/com/jdon/jivejdon/repository/ThreadRepository.class
classes/com/jdon/jivejdon/manager/account/SinaOAuthSubmitter.class
classes/com/jdon/jivejdon/model/message/output/html/Newline.class
classes/com/jdon/jivejdon/model/message/output/html/URLConverter.class
classes/com/jdon/jivejdon/model/message/weibo/AuthorNameFilter.class
classes/com/jdon/jivejdon/model/message/weibo/InFilterAuthor.class
classes/com/jdon/jivejdon/presentation/form/AccountForm.class
classes/com/jdon/jivejdon/presentation/form/MessageForm.class
classes/com/jdon/jivejdon/repository/builder/MessageRepositoryDao.class
classes/com/jdon/jivejdon/repository/builder/ThreadRepositoryDao.class
classes/com/jdon/jivejdon/repository/dao/sql/MessageDaoSql.class
classes/com/jdon/jivejdon/service/imp/message/ForumMessageShell.class

report/TEST-com.jdon.jivejdon.domain.model.realtime.NotificationLocatorTest.txt

report/TEST-com.jdon.jivejdon.infrastructure.repository.search.CompassTest.txt

.settings/
application/blog/js/
src/main/java/com/jdon/jivejdon/manager/throttle/img/
src/test/
log-camel-lsp.out
.obsidian/
.history/
