body{background:url(/common/js/img/bg2.png) fixed;color:#666;font-weight:400;font-size:15px;font-family:'Ek Mukta',sans-serif;line-height:1.6em}
body,html{margin:0;padding:0;width:100%;word-wrap:break-word}
::-moz-selection{background:#000;color:#fff;text-shadow:none}
::selection{background:#000;color:#fff;text-shadow:none}
html{ -webkit-text-size-adjust:none}
.video embed,.video iframe,.video object{ width:100%;  height:auto}
img{width:auto\9;height:auto;max-width:100%}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:14px}
h1,h2,h3,h4,h5,h6{color:#111;font-weight:600;font-family:Roboto,sans-serif}
p{margin:0 0 20px}
.indent{text-indent: 0px}
a{color:#30A87C;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
a:focus,a:hover{color:#000;text-decoration:none}
.bige20 {font-size: 24px;}
.center{margin:0 auto;text-align:center}
.f-right{float:right}
.f-left{float:left}
.t-right{text-align:right}
.t-left{text-align:left}
.post:after,.post:before,article:after,article:before,section:after,section:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
.clear{clear:both;display:block;visibility:hidden;height:0;content:"\0020"}
.clearfix:after,.clearfix:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
hr.line{margin:0;padding:0;width:100%;border-color:#ddd}
.copyrights{overflow:hidden;height:0;text-indent:-9999px;font-size:0;line-height:0}
body.sub-page{padding-top:30px;background-color:#F9F9F9}
body.sub-page .logo{margin:110px 0 80px;padding:30px 0 50px}
#top{padding:10px 0 0;border-bottom:1px solid #ddd;background:#fff;color:#000}
#top a{color:#000}
#top a:hover{color:#69BF03}
.link{text-align:right}
.link a{display:inline-block;text-decoration:none;letter-spacing:1px;font-weight:700;font-size:12px}
.link li:after{display:inline-block;margin:0 0 0 12px;content:'/';font-weight:700}
.link li:last-child:after{display:none;margin-right:0;margin-left:0;content:''}
.link li ul{display:none}
#menu{border-radius:0;background-color:#444}
#menu a.navbar-brand:hover{color:#fff}
#menu .navbar-brand{margin:0;padding:14px 18px;height:auto;background-color:#000;text-transform:uppercase}
#menu .navbar-collapse{padding:0}
#menu .dropdown-menu{border:none;background-color:#fff}
#menu ul.nav .dropdown-menu li a{border-radius:5px!important;color:#000;font-weight:700}
#menu ul.nav .dropdown-menu li a:hover{background-color:#000;color:#fff}
#menu .dropdown-inner{display:table;background-color:#fff}
#menu .dropdown-inner ul{display:table-cell}
#menu .dropdown-inner a{clear:both;display:block;margin:0 5px;padding:3px 20px;min-width:160px;color:#000;font-size:14px;line-height:20px}
#menu li.dropdown:active>a,#menu li.dropdown:focus>a,#menu li.dropdown:hover>a{background:#fff;color:#000}
#menu ul.nav li a{padding:14px 19px;border-radius:5px;color:#fff;font-weight:700}
#menu ul.nav li.dropdown a{border-top-right-radius:5px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:5px}
#menu .nav>li>a:focus,#menu .nav>li>a:hover{background-color:#fff;color:#000}
#menu .top-social{padding:5px;background-color:#505052;text-align:center;font-size:20px}
#menu ul.top-social{margin:0}
#menu ul.top-social li{width:38px;height:38px}
#menu ul.top-social a i{width:38px;height:38px;border-radius:50%;background-color:#252628;color:#fff;line-height:1.9}
#menu ul.top-social a i:hover{background-color:#fff;color:#000}
#menu .btn-navbar{float:right;padding:5px 15px;border:3px solid #fff;color:#FFF;font-size:20px}
@media (max-width:768px){#menu{border-radius:0;background-color:#000}
}
@media (min-width:768px){#menu.navbar{margin-top:20px;padding:0;height:auto}
#menu .dropdown:hover .dropdown-menu{display:block}
}
@media(max-width:767px){#menu .navbar-brand{display:block;color:#fff}
#menu div.dropdown-inner>ul.list-unstyled{display:block}
#menu .dropdown-inner a{width:100%;color:#fff}
#menu div.dropdown-menu{margin-left:0!important;padding-bottom:10px;background-color:rgba(0,0,0,.1)}
}
.carousel-inner img{width:100%;max-height:640px}
.carousel-control{width:0}
.carousel-control.left,.carousel-control.right{background-image:none;background-repeat:no-repeat;text-shadow:none;opacity:1;filter:alpha(opacity=100)}
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{position:absolute;top:45%;z-index:5;display:inline-block}
.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{left:30px}
.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{right:30px}
.carousel-control.left span:hover,.carousel-control.right span:hover{opacity:.7;filter:alpha(opacity=70)}
.carousel-indicators .active{background-color:#DA251D}
.carousel-indicators{bottom:10px}
.carousel-inner>.item{margin-top:0;margin-bottom:0;margin-left:0;padding-left:0;width:100%;height:auto}
.carousel-inner>.item>a>img,.carousel-inner>.item>img{display:block;margin-left:0;padding-left:0;height:auto;max-width:100%}
.header-text{position:absolute;top:33%;right:auto;left:1.8%;width:96.66666666666666%;color:#fff}
.header-text h2{display:inline-block;padding:10px;background-color:#DA251D;color:#fff;color:#fff;text-transform:uppercase;font-size:40px}
.header-text h3{color:#fff}
#page-content{padding:0}
#page-content.archive-page,#page-content.index-page,#page-content.single-page{margin-top:20px}
.archive-page .box .zoom-container{float:left;display:inline-block;margin-right:5px;max-width:250px}
.featured{padding:15px;border:1px solid #ddd;background-color:#fff}
.box{padding:15px 20px 10px;background-color:#fff}
@media (max-width: 768px) {
 .box{padding:15px 10px 5px}
}
.box:after,.box:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
.box .info{margin:5px 0 10px 0}
.box .info a{border-bottom:1px solid #000;box-shadow:inset 0 -1px 0 #000;color:#000;transition:all ease 150ms}
.box .info a:hover{border-bottom:1px solid #000;box-shadow:inset 0 -1.3em 0 #000;color:#FFF;text-decoration:none;text-shadow:none}
.box h2{margin:0;font-size:19px}
.box .box-header.header-photo{margin-bottom:20px;background:url(/common/js/img/title-picture.png) repeat-x center center}
.box .box-header.header-natural{margin-bottom:20px;background:url(/common/js/img/title-natural.png) repeat-x center center}
.box .box-header.header-vimeo{margin-bottom:20px;background:url(/common/js/img/title-vimeo.png) repeat-x center center}
.box .box-header h2{display:inline-block;margin-left:15px;padding:0 8px;background-color:#fff;color:#333;font-size:25px}
.box .box-content{margin-top:30px}
.box .box-content a{color:#333;font-weight:700}
.box .box-content a:hover{color:#555}
.box .box-content h3{margin:10px 0 5px;font-size:18px}
.box .box-content span{font-size:15px}
.box .box-content span i{margin-right:2px;font-size:14px}
.box .box-content p{margin-top:10px}
.vid-item{position:relative}
.vid-name{margin:0}
.vid-name a{color:#333;font-size:19px}
.vid-name a:hover{color:#FD0005}
.vid-tags{margin:15px 0;padding:30px;border:1px solid #ddd}
.vid-tags a{padding:5px 10px;background:#FD0005;color:#fff}
.vid-tags a:hover{background:#000}
.info{margin:0;font-size:14px}
.info i{margin-right:8px}
.info span{margin-right:10px}
.info a,.info h5{margin:0 0 5px;font-size:13px;line-height:1}
.info a{color:#006EA0}
.info a:hover{text-decoration:underline}
.rating{font-size:14px;line-height:1.2}
ul.pagination{margin:42px auto 25px}
ul.pagination li a{color:#444}
.widget{overflow:hidden;text-overflow:ellipsis;word-break: break-all;padding:10px 20px;background:#fff}
.widget:after,.widget:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
.widget ul{margin:0;padding:0;list-style:none}
.widget ul li{overflow:hidden;list-style:none;text-overflow:ellipsis;white-space:nowrap}
.widget .heading{background:url(/common/js/img/title.png) repeat-x center center}
.widget .heading h4{display:inline-block;margin-left:15px;padding:0 8px;background-color:#fff;color:#333;text-transform:uppercase;font-size:22px}
.widget.wid-vid ul a{float:left;display:inline;margin:3px 2px;padding:5px;border-top:none;border-right:none;border-bottom:1px solid transparent;border-left:none;color:#333;font-weight:700}
.widget.wid-vid .tab-content{margin-top:13px}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background:0 0}
.widget.wid-vid ul a:focus,.widget.wid-vid ul a:hover{border-top:none;border-right:none;border-left:none;background:0 0}
.widget.wid-vid ul li{border-bottom:1px solid transparent}
.widget.wid-vid ul li:hover{border-bottom:1px solid #FD0005}
.widget.wid-vid ul li+:hover{border-bottom:1px solid #30A87C}
.widget.wid-vid ul li+li+:hover{border-bottom:1px solid #966B20}
.widget.wid-vid .post{margin-top:12px}
.widget.wid-vid .post img{float:left;display:inline-block;max-width:105px}
.widget.wid-vid h5{margin-top:0;font-size:18px}
.widget.wid-gallery img{padding:2px}
.widget.wid-new-post h6{font-size:16px}
.widget.wid-new-post ul{margin:5px 0}
.widget.wid-new-post p:last-child{margin:0}
.widget.wid-recent-post span{display:block;margin-bottom:7px}
.widget.wid-comment img{max-width:50px;border:1px solid #ddd}
.widget.wid-comment .post{margin-bottom:0;padding-top:10px;border-bottom:1px solid #ddd}
.widget.wid-comment .wrapper{margin-left:5px}
@media (min-width:1100px){.widget.wid-comment .wrapper{max-width:175px}
}
.widget.wid-categoty select{padding:6px 10px}
.widget.wid-tweet p{margin:0}
.widget.wid-tweet span{display:block;color:#999}
.widget.wid-tweet .tweet-item{padding:5px;border-bottom:1px solid #ddd}
.widget.wid-tweet .tweet-item:last-child{padding:5px 0 0;border-bottom:none}
.widget.wid-tags a{padding:1px 10px;border:1px solid #333;color:#333;text-transform:capitalize;font-size:14px;line-height:2.2}
.widget.wid-tags a:hover{border:1px solid #999;color:#30A87C}
.box-facebook,.box-google,.box-twitter{padding:15px;width:95px;height:95px;color:#fff;text-align:center}
.box-facebook:hover,.box-google:hover,.box-twitter:hover{background-color:#000}
.box-facebook{background-color:#3B5998}
.box-twitter{background-color:#1DCAFF}
.box-google{background-color:#DD4B39}
.box-facebook span,.box-google span,.box-twitter span{display:block;line-height:1}
.icon{margin-bottom:10px}
.post{margin-bottom:15px}
.post:after,.post:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
.post:last-child{margin-bottom:0}
.post:after,.post:before{clear:both;display:block;visibility:hidden;width:0;height:0;content:'\0020'}
.post h5{margin:0;font-size:15px}
.post img{float:left;display:inline-block;max-width:125px}
.post .zoom-container .zoom-caption p{padding:4px;font-size:15px}
.post .wrapper{display:inline-block;text-align:left}
.post .info a,.post .info h6{margin:1px 0 3px;font-size:13px}
.post .info{margin-top:0;font-size:12px}
.post .info span{display:block;margin:0;font-size:11px;line-height:1.6}
.post .info i{margin-right:2px;font-size:11px}
footer{margin-top:20px;padding:20px 0 10px;background-color:#202020;color:#ddd}
footer .wrap-footer{padding-bottom:20px;border-bottom:1px solid #444}
footer .copy-right{padding-top:20px;text-align:center}
footer .footer-heading h4{color:#fff;font-size:20px}
footer .footer-1 img{margin-bottom:10px;max-width:140px}
footer .footer-1 p{margin-bottom:10px;padding-bottom:7px;border-bottom:1px solid #444}
footer .footer-1 input[type=text]{display:block;margin:10px 0;padding:5px 10px 0;width:100%;height:40px;outline:medium none;border:2px solid #E7E7E7;border:2px solid #444;background-color:transparent;color:#999;font-size:14px;line-height:1.2}
footer .footer-2 a{padding:1px 10px;border:1px solid #999;color:#999;text-transform:capitalize;font-size:14px;line-height:2.2}
footer .footer-2 a:hover{color:#30A87C}
footer .footer-3 ul{padding:0}
footer .footer-3 ul li{margin-bottom:15px;padding-bottom:10px;border-bottom:1px solid #444;list-style:none}
footer .footer-3 ul li:last-child{border-bottom:none}
footer .footer-3 ul li a{color:#999}
footer .footer-3 ul li a:hover{color:#666}
.contact h2{padding-top:20px;text-align:center;letter-spacing:3px;font-weight:500;font-size:19px}
#contact_form{padding:25px}

#ff label{display:block;margin:px 0;font-weight:700;cursor:pointer}
#ff input{display:block;margin:5px 0 25px 0;padding:10px;width:100%;color:#000}
#ff textarea{display:block;margin:5px 0 25px 0;padding:10px;width:100%;height:200px;background-color:#fff;color:#000}
#ff .sendButton{width:100px;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#FD0005;color:#fff;cursor:pointer}
#ff .sendButton:hover{background-color:#000}
.message{text-align:center}
.message .wrap{display:inline-block;padding:50px;border:1px solid #333;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff}
.message .text{margin-bottom:30px;font-size:35px}
.owl-theme .owl-controls .owl-page span{border:1px solid #666;background-color:#999}
.owl-theme .owl-controls .owl-page span:hover{background-color:#666}
#owl-demo-2 .item{margin:1px}
#owl-demo-2 .item img{margin:1px}
.btn-facebook,.btn-google,.btn-mail,.btn-pinterest,.btn-twitter{color:#fff}
.btn-facebook:hover,.btn-google:hover,.btn-mail:hover,.btn-pinterest:hover,.btn-twitter:hover{background-color:#000;color:#fff}
.btn-facebook{background-color:#3B5998}
.btn-twitter{background-color:#00ACED}
.btn-pinterest{background-color:#CA212A}
.btn-google{background-color:#EB4026}
.btn-mail{background-color:#666}
.btn-2{padding:3px 8px}
.btn-3{background-color:#444;color:#FADA1A;font-weight:700}
.btn-3:hover{background-color:#fff;color:#000}
.article{font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 400;color: #465049;font-size: 1.6rem;line-height: 1.8;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}
DIV.diggArea{margin:0 auto;background-repeat:no-repeat;WIDTH:45px;HEIGHT:53px;BACKGROUND:url(/images/dig.png)}
.diggArea .diggNum{margin:0 auto;padding-top:5px;padding-right:0;padding-bottom:0;padding-left:0;DISPLAY:block;COLOR:#a200ff;FONT-WEIGHT:lighter;FONT-SIZE:16px;WIDTH:45px;FONT-FAMILY:Georgia;HEIGHT:30px;TEXT-ALIGN:center}
.diggArea .top8{margin:0 auto;padding-top:0}
.diggArea .diggLink{DISPLAY:block;WIDTH:45px;COLOR:#999;TEXT-ALIGN:center}
#subbox{width:80px}
#subbox span{float:left;display:block;overflow:hidden;width:56px;text-overflow:ellipsis;white-space:nowrap}
.linkblock{overflow:hidden;text-overflow:ellipsis;word-break: break-all; white-space: normal;padding:5px 15px;border:1px solid #ddd;border-radius:3px;background:#fff;box-shadow:0 15px 10px -15px rgba(0,0,0,.4)}
.frame-yy{float:left;padding:10px;width:100%;border:1px solid #ddd;border-radius:3px;background:#fff;box-shadow:0 15px 10px -15px rgba(0,0,0,.4)}
.important{margin: 1px 20px 1px 1px;padding:10px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.important a{color:#888;text-decoration:none;line-height:23px}
.thumbn{float:left;display:block;margin:10px;width:100px;background:#fff}
.adsensf{float:right;display:block;margin:15px;background:#fff}
.smallgray{display:inline;font-size:12px;COLOR:#999}
.dialog_nw{width:9px;height:23px;background:transparent url(/common/js/styles/default/top_left.gif) no-repeat 0 0}
.dialog_n{height:23px;background:transparent url(/common/js/styles/default/top_mid.gif) repeat-x 0 0}
.dialog_ne{width:9px;height:23px;background:transparent url(/common/js/styles/default/top_right.gif) no-repeat 0 0}
.dialog_e{width:2px;background:transparent url(/common/js/styles/default/center_right.gif) repeat-y 0 0}
.dialog_w{width:2px;background:transparent url(/common/js/styles/default/center_left.gif) repeat-y 0 0}
.dialog_sw{width:9px;height:19px;background:transparent url(/common/js/styles/default/bottom_left.gif) no-repeat 0 0}
.dialog_s{height:19px;background:transparent url(/common/js/styles/default/bottom_mid.gif) repeat-x 0 0}
.dialog_se{width:9px;height:19px;background:transparent url(/common/js/styles/default/bottom_right.gif) no-repeat 0 0}
.dialog_sizer{width:9px;height:19px;background:transparent url(/common/js/styles/default/sizer.gif) no-repeat 0 0;cursor:se-resize}
.dialog_close{position:absolute;top:5px;left:8px;z-index:2000;width:14px;height:14px;background:transparent url(/common/js/styles/default/close.gif) no-repeat 0 0;cursor:pointer}
.dialog_minimize{position:absolute;top:5px;left:28px;z-index:2000;width:14px;height:15px;background:transparent url(/common/js/styles/default/minimize.gif) no-repeat 0 0;cursor:pointer}
.dialog_maximize{position:absolute;top:5px;left:49px;z-index:2000;width:14px;height:15px;background:transparent url(/common/js/styles/default/maximize.gif) no-repeat 0 0;cursor:pointer}
.dialog_title{float:left;width:100%;height:14px;color:#000;text-align:center;font-size:12px;font-family:Tahoma,Arial,sans-serif}
.dialog_content{overflow:auto;background-color:#123;color:#DDD;font-size:10px;font-family:Tahoma,Arial,sans-serif}
.bottom_draggable,.top_draggable{cursor:move}
.status_bar{font-size:12px}
.status_bar input{font-size:12px}
.wired_frame{position:absolute;display:block;border:1px #000 dashed}
.dialog{position:absolute;display:block}
.dialog table.table_window{margin:0;padding:0;width:100%;border-collapse:collapse;border-spacing:0}
.dialog table.table_window td,.dialog table.table_window th{padding:0}
.dialog .title_window{-moz-user-select:none}
.overlay_mac_os_x{background-color:#85BBEF;opacity:.6;filter:alpha(opacity=60);-moz-opacity:.6}
.mac_os_x_nw{width:24px;height:30px;background:transparent url(/common/js/styles/mac_os_x/TL_Main.png) no-repeat 0 0}
.mac_os_x_n{height:30px;background:transparent url(/common/js/styles/mac_os_x/T_Main.png) repeat-x 0 0}
.mac_os_x_ne{width:31px;height:30px;background:transparent url(/common/js/styles/mac_os_x/TR_Main.png) no-repeat 0 0}
.mac_os_x_w{width:16px;background:transparent url(/common/js/styles/mac_os_x/L_Main.png) repeat-y top left}
.mac_os_x_e{width:16px;background:transparent url(/common/js/styles/mac_os_x/R_Main.png) repeat-y top right}
.mac_os_x_sw{width:31px;height:40px;background:transparent url(/common/js/styles/mac_os_x/BL_Main.png) no-repeat 0 0}
.mac_os_x_s{height:40px;background:transparent url(/common/js/styles/mac_os_x/B_Main.png) repeat-x 0 0}
.mac_os_x_se,.mac_os_x_sizer{width:31px;height:40px;background:transparent url(/common/js/styles/mac_os_x/BR_Main.png) no-repeat 0 0}
.mac_os_x_sizer{cursor:se-resize}
.mac_os_x_close{position:absolute;top:12px;left:25px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/close.gif) no-repeat 0 0;cursor:pointer}
.mac_os_x_minimize{position:absolute;top:12px;left:45px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/minimize.gif) no-repeat 0 0;cursor:pointer}
.mac_os_x_maximize{position:absolute;top:12px;left:65px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/maximize.gif) no-repeat 0 0;cursor:pointer}
.mac_os_x_title{float:left;margin-top:8px;width:100%;height:14px;color:#000;text-align:center;font-size:12px;font-family:Tahoma,Arial,sans-serif}
.mac_os_x_content{overflow:auto;background:#FFF;color:#222;font-size:10px;font-family:Tahoma,Arial,sans-serif}
.mac_os_x_s .status_bar{padding-bottom:24px}
* html .mac_os_x_nw{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TL_Main.png", sizingMethod="crop")}
* html .mac_os_x_n{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/T_Main.png", sizingMethod="scale")}
* html .mac_os_x_ne{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TR_Main.png", sizingMethod="crop")}
* html .mac_os_x_w{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/L_Main.png", sizingMethod="scale")}
* html .mac_os_x_e{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/R_Main.png", sizingMethod="scale")}
* html .mac_os_x_sw{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BL_Main.png", sizingMethod="crop")}
* html .mac_os_x_s{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/B_Main.png", sizingMethod="scale")}
* html .mac_os_x_se{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR_Main.png", sizingMethod="crop")}
* html .mac_os_x_sizer{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR_Main.png", sizingMethod="crop")}
.overlay_blur_os_x{background-color:#85BBEF;opacity:.6;filter:alpha(opacity=60);-moz-opacity:.6}
.blur_os_x_nw{width:24px;height:30px;background:transparent url(/common/js/styles/mac_os_x/TL.png) no-repeat 0 0}
.blur_os_x_n{height:30px;background:transparent url(/common/js/styles/mac_os_x/T.png) repeat-x 0 0}
.blur_os_x_ne{width:31px;height:30px;background:transparent url(/common/js/styles/mac_os_x/TR.png) no-repeat 0 0}
.blur_os_x_w{width:16px;background:transparent url(/common/js/styles/mac_os_x/L.png) repeat-y top left}
.blur_os_x_e{width:16px;background:transparent url(/common/js/styles/mac_os_x/R.png) repeat-y top right}
.blur_os_x_sw{width:31px;height:40px;background:transparent url(/common/js/styles/mac_os_x/BL.png) no-repeat 0 0}
.blur_os_x_s{height:40px;background:transparent url(/common/js/styles/mac_os_x/B.png) repeat-x 0 0}
.blur_os_x_se,.blur_os_x_sizer{width:31px;height:40px;background:transparent url(/common/js/styles/mac_os_x/BR.png) no-repeat 0 0}
.blur_os_x_sizer{cursor:se-resize}
.blur_os_x_close{position:absolute;top:12px;left:25px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/close.gif) no-repeat 0 0;cursor:pointer}
.blur_os_x_minimize{position:absolute;top:12px;left:45px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/minimize.gif) no-repeat 0 0;cursor:pointer}
.blur_os_x_maximize{position:absolute;top:12px;left:65px;z-index:1000;width:19px;height:19px;background:transparent url(/common/js/styles/mac_os_x/maximize.gif) no-repeat 0 0;cursor:pointer}
.blur_os_x_title{float:left;margin-top:8px;width:100%;height:14px;color:#000;text-align:center;font-size:12px;font-family:Tahoma,Arial,sans-serif}
.blur_os_x_content{overflow:auto;background:#FFF;color:#222;font-size:10px;font-family:Tahoma,Arial,sans-serif}
.blur_os_x_s .status_bar{padding-bottom:24px}
* html .blur_os_x_nw{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TL.png", sizingMethod="crop")}
* html .blur_os_x_n{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/T.png", sizingMethod="scale")}
* html .blur_os_x_ne{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TR.png", sizingMethod="crop")}
* html .blur_os_x_w{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/L.png", sizingMethod="scale")}
* html .blur_os_x_e{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/R.png", sizingMethod="scale")}
* html .blur_os_x_sw{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BL.png", sizingMethod="crop")}
* html .blur_os_x_s{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/B.png", sizingMethod="scale")}
* html .blur_os_x_se{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR.png", sizingMethod="crop")}
* html .blur_os_x_sizer{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR.png", sizingMethod="crop")}
.mac_os_x_buttons{text-align:center}
.overlay_alert{background-color:#85BBEF;opacity:.6;filter:alpha(opacity=60);-moz-opacity:.6}
.alert_nw{width:5px;height:5px;background:transparent url(/common/js/styles/alert/top_left.gif) no-repeat bottom left}
.alert_n{height:5px;background:transparent url(/common/js/styles/alert/top.gif) repeat-x bottom left}
.alert_ne{width:5px;height:5px;background:transparent url(/common/js/styles/alert/top_right.gif) no-repeat bottom left}
.alert_e{width:5px;background:transparent url(/common/js/styles/alert/right.gif) repeat-y 0 0}
.alert_w{width:5px;background:transparent url(/common/js/styles/alert/left.gif) repeat-y 0 0}
.alert_sw{width:5px;height:5px;background:transparent url(/common/js/styles/alert/bottom_left.gif) no-repeat 0 0}
.alert_s{height:5px;background:transparent url(/common/js/styles/alert/bottom.gif) repeat-x 0 0}
.alert_se,.alert_sizer{width:5px;height:5px;background:transparent url(/common/js/styles/alert/bottom_right.gif) no-repeat 0 0}
.alert_close{display:none;width:0;height:0}
.alert_minimize{display:none;width:0;height:0}
.alert_maximize{display:none;width:0;height:0}
.alert_title{float:left;width:100%;height:1px}
.alert_content{overflow:visible;background:#FFF;color:#000;font:12px arial;font-family:Tahoma,Arial,sans-serif}
.alert_window{margin-right:auto;margin-left:auto;padding:20px;width:400px;background:#FFF}
.alert_message{padding-bottom:10px;width:100%;color:red;font:12px arial}
.alert_buttons{width:100%;text-align:center}
.alert_buttons input{margin:10px;width:20%}
.alert_progress{float:left;margin:auto;width:100%;height:16px;background:#FFF url(/common/js/styles/alert/progress.gif) no-repeat center center;text-align:center}
.ac_holder{position:relative}
.ac_field{background-image:url(/common/js/styles/autocomplete/autocomplete_leftcap.gif);background-position:right center;background-repeat:no-repeat}
.ac_field_busy{background-image:url(/common/js/styles/autocomplete/autocomplete_spinner.gif);background-position:right center;background-repeat:no-repeat}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;word-wrap:break-word}
