body, div, form, input, select, table, td {
    color: #444;
    font: 400 15px/1.8 "Microsoft YaHei", Rajdhani, Play, Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.8em
}

a img {
    border: 0
}

A {
    text-decoration: none;
    color: #036
}

a:visited {
    text-decoration: none;
    color: #666;
    font-weight: lighter
}

A:hover {
    text-decoration: underline;
    color: #eab30d
}

form, textarea {
    font-size: 12px;
    COLOR: #000
}

input {
    BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #fafbf5;
    font-size: 12px
}

textarea {
    BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #fafbf5;
    font-size: 12px
}

select {
    BORDER-RIGHT: #668235 1px solid;
    BORDER-TOP: #668235 1px solid;
    BORDER-LEFT: #668235 1px solid;
    BORDER-BOTTOM: #668235 1px solid;
    BACKGROUND-COLOR: #fafbf5;
    font-size: 12px
}

ul {
    FONT-SIZE: 14px;
    COLOR: #000;
    list-style-type: square
}

li {
    FONT-SIZE: 14px;
    COLOR: #000
}

ol {
    FONT-SIZE: 14px;
    COLOR: #000;
    list-style-type: decimal;
    line-height: 150%;
    font-style: normal;
    font-weight: 400
}

.small {
    font-size: 12px;
    font-family: Tahoma, Verdana
}

.smallgray {
    font-size: 12px;
    COLOR: #999;
    display: inline
}

.blackgray {
    font-size: 12px;
    COLOR: #bbb;
    font-family: Tahoma, Verdana
}

.small11 {
    font-size: 11px;
    font-family: Arial, Tahoma
}

h4 {
    font-size: 14px
}

h3 {
    font-size: 15px
}

h2 {
    font-size: 20px
}

.big16 {
    font-size: 16px
}

.big18 {
    font-size: 18px
}

.bige20 {
    font-size: 20px
}

.body_href {
    font-size: 14px;
    text-decoration: none;
    color: #284b78;
    font-weight: 700
}

.white {
    color: #fff
}

.bodystyle {
    FONT-SIZE: 14px
}

A.a03 {
    text-decoration: none;
    color: #fff;
    font-size: 12px
}

.title {
    font-size: 14px;
    font-weight: 700;
    line-height: 144%;
    color: #093
}

.article {
    font-size: 14px;
    line-height: 150%;
    color: #212121
}

.tpc_content {
    margin: 10px;
    color: #444;
    font: 400 15px/1.8 "Microsoft YaHei", Rajdhani, Play, Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.8em
}

.home_content {
    font-size: 13px;
    color: #333;
    line-height: 150%
}

.gen-2 {
    clear: both
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

DIV.pagination {
    padding: 3px;
    margin: 3px;
    font-size: 10px;
    font-weight: 700;
    font-family: Arial, Times
}

DIV.pagination a {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1
}

.pagination a:active, DIV.pagination a:hover {
    border: 1px solid #dd6900;
    color: #000;
    background-color: #ffffe0;
    text-decoration: none
}

DIV.pagination .current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid navy;
    font-weight: 700;
    background-color: #2e6ab1;
    color: #FFF
}

DIV.pagination .disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #929292;
    color: #929292
}

DIV.tres {
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 0;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 4px;
    COLOR: #313031;
    PADDING-TOP: 4px;
    FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, Sans-Serif
}

DIV.tres A {
    BORDER-RIGHT: #b7d8ee 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #b7d8ee 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0 3px;
    BORDER-LEFT: #b7d8ee 1px solid;
    COLOR: #0030ce;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #b7d8ee 1px solid;
    TEXT-DECORATION: none
}

DIV.tres A:hover {
    BORDER-RIGHT: #b7d8ee 1px solid;
    BORDER-TOP: #b7d8ee 1px solid;
    BORDER-LEFT: #b7d8ee 1px solid;
    COLOR: #0066a7;
    BORDER-BOTTOM: #b7d8ee 1px solid;
    BACKGROUND-COLOR: #d2eaf6
}

DIV.tres A:active {
    BORDER-RIGHT: #b7d8ee 1px solid;
    BORDER-TOP: #b7d8ee 1px solid;
    BORDER-LEFT: #b7d8ee 1px solid;
    COLOR: #0066a7;
    BORDER-BOTTOM: #b7d8ee 1px solid;
    BACKGROUND-COLOR: #d2eaf6
}

DIV.tres SPAN.current {
    BORDER-RIGHT: #b7d8ee 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #b7d8ee 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 4px;
    MARGIN: 0 3px;
    BORDER-LEFT: #b7d8ee 1px solid;
    COLOR: #444;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #b7d8ee 1px solid;
    BACKGROUND-COLOR: #d2eaf6
}

DIV.tres SPAN.disabled {
    DISPLAY: none
}

.threadTitle {
    font-size: 14px
}

.tooltip_content {
    FONT-SIZE: 14px;
    overflow: hidden;
    MARGIN: 10px;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}

.post-tag {
    color: #3e6d8e;
    background-color: #e0eaf1;
    border-bottom: 1px solid #3e6d8e;
    border-right: 1px solid #7f9fb6;
    padding: 3px 3px 3px 4px;
    text-decoration: none;
    white-space: nowrap;
    line-height: 2
}

.post-tag:hover {
    background-color: #3e6d8e;
    color: #e0eaf1;
    border-bottom: 1px solid #37607d;
    border-right: 1px solid #37607d;
    text-decoration: none
}

.b_content_line {
    float: none;
    clear: none;
    display: block;
    overflow: hidden;
    width: 658px;
    text-align: left;
    border-top: dashed 1px #e7e8ea;
    height: 10px;
    margin-top: 30px
}

.quote_title {
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px 0 0 10px;
    PADDING-TOP: 5px
}

.quote_body {
    background: #f4f5f7 3px 3px no-repeat;
    border: 1px dashed #BBB;
    padding: 8px 12px 8px 36px;
    margin: 5px 0;
    FONT-WEIGHT: lighter
}

.displaycode {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace;
    font-size: 11px
}

.code-outline {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px
}

div.post-headline h1, div.post-headline h2 {
    margin: 0;
    padding: 0
}

div.post-footer {
    clear: both;
    display: block
}

div.post-footer {
    margin: 0;
    padding: 5px;
    background: #F5F5F5;
    color: #666;
    line-height: 18px
}

div.post-footer a:link, div.post-footer div.post-footer a:active {
    color: #333;
    font-weight: 400;
    text-decoration: none
}

div.post-footer a:hover {
    color: #333;
    font-weight: 400;
    text-decoration: underline
}

.overlay_dialog {
    background-color: #666;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.overlay___invisible__ {
    background-color: #666;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0
}

.dialog_nw {
    width: 9px;
    height: 23px;
    background: transparent url(/common/js/styles/default/top_left.gif) no-repeat 0 0
}

.dialog_n {
    background: transparent url(/common/js/styles/default/top_mid.gif) repeat-x 0 0;
    height: 23px
}

.dialog_ne {
    width: 9px;
    height: 23px;
    background: transparent url(/common/js/styles/default/top_right.gif) no-repeat 0 0
}

.dialog_e {
    width: 2px;
    background: transparent url(/common/js/styles/default/center_right.gif) repeat-y 0 0
}

.dialog_w {
    width: 2px;
    background: transparent url(/common/js/styles/default/center_left.gif) repeat-y 0 0
}

.dialog_sw {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/bottom_left.gif) no-repeat 0 0
}

.dialog_s {
    background: transparent url(/common/js/styles/default/bottom_mid.gif) repeat-x 0 0;
    height: 19px
}

.dialog_se {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/bottom_right.gif) no-repeat 0 0
}

.dialog_sizer {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/sizer.gif) no-repeat 0 0;
    cursor: se-resize
}

.dialog_close {
    width: 14px;
    height: 14px;
    background: transparent url(/common/js/styles/default/close.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 8px;
    cursor: pointer;
    z-index: 2000
}

.dialog_minimize {
    width: 14px;
    height: 15px;
    background: transparent url(/common/js/styles/default/minimize.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 28px;
    cursor: pointer;
    z-index: 2000
}

.dialog_maximize {
    width: 14px;
    height: 15px;
    background: transparent url(/common/js/styles/default/maximize.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 49px;
    cursor: pointer;
    z-index: 2000
}

.dialog_title {
    float: left;
    height: 14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #000
}

.dialog_content {
    overflow: auto;
    color: #DDD;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background-color: #123
}

.bottom_draggable, .top_draggable {
    cursor: move
}

.status_bar {
    font-size: 12px
}

.status_bar input {
    font-size: 12px
}

.wired_frame {
    display: block;
    position: absolute;
    border: 1px #000 dashed
}

.dialog {
    display: block;
    position: absolute
}

.dialog table.table_window {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0
}

.dialog table.table_window td, .dialog table.table_window th {
    padding: 0
}

.dialog .title_window {
    -moz-user-select: none
}

.userbox {
    margin: 0 auto 0 auto;
    height: 45px;
    overflow: hidden;
    border-bottom: solid 1px #D5D5D5;
    background: #F5F5F5;
    width: 100%
}

.jdon-space {
    line-height: 5px
}

.userbox a {
    color: #888;
    padding: 3px 2px
}

.userbox form {
    color: #888;
    padding: 3px 2px
}

.site-logo img {
    float: left;
    top: 2px;
    left: 0
}

DIV.diggArea {
    MARGIN: 5px;
    FLOAT: left;
    WIDTH: 45px;
    HEIGHT: 53px;
    BACKGROUND: url(/images/dig.png);
    background-repeat: no-repeat
}

.diggArea .diggNum {
    DISPLAY: block;
    COLOR: #a200ff;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    WIDTH: 45px;
    FONT-FAMILY: Georgia;
    HEIGHT: 30px;
    TEXT-ALIGN: center;
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
}

.diggArea .top8 {
    padding-top: 0
}

.diggArea .diggLink {
    DISPLAY: block;
    WIDTH: 45px;
    COLOR: #999;
    TEXT-ALIGN: center
}

#subbox {
    width: 80px
}

#subbox span {
    display: block;
    overflow: hidden;
    float: left;
    width: 56px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.linkblock {
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .4)
}

.frame-yy {
    width: auto;
    float: left;
    padding: 1px 1px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .4)
}

.important {
    width: 285px;
    padding: 8px;
    margin: 0;
    background-color: #F7F7F7;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.important a {
    line-height: 23px;
    text-decoration: none;
    color: #888
}

.thumbn {
    width: 100px;
    display: block;
    float: left;
    margin: 10px;
    background: #fff
}

.overlay_dialog {
    background-color: #666;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.overlay___invisible__ {
    background-color: #666;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0
}

.dialog_nw {
    width: 9px;
    height: 23px;
    background: transparent url(/common/js/styles/default/top_left.gif) no-repeat 0 0
}

.dialog_n {
    background: transparent url(/common/js/styles/default/top_mid.gif) repeat-x 0 0;
    height: 23px
}

.dialog_ne {
    width: 9px;
    height: 23px;
    background: transparent url(/common/js/styles/default/top_right.gif) no-repeat 0 0
}

.dialog_e {
    width: 2px;
    background: transparent url(/common/js/styles/default/center_right.gif) repeat-y 0 0
}

.dialog_w {
    width: 2px;
    background: transparent url(/common/js/styles/default/center_left.gif) repeat-y 0 0
}

.dialog_sw {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/bottom_left.gif) no-repeat 0 0
}

.dialog_s {
    background: transparent url(/common/js/styles/default/bottom_mid.gif) repeat-x 0 0;
    height: 19px
}

.dialog_se {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/bottom_right.gif) no-repeat 0 0
}

.dialog_sizer {
    width: 9px;
    height: 19px;
    background: transparent url(/common/js/styles/default/sizer.gif) no-repeat 0 0;
    cursor: se-resize
}

.dialog_close {
    width: 14px;
    height: 14px;
    background: transparent url(/common/js/styles/default/close.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 8px;
    cursor: pointer;
    z-index: 2000
}

.dialog_minimize {
    width: 14px;
    height: 15px;
    background: transparent url(/common/js/styles/default/minimize.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 28px;
    cursor: pointer;
    z-index: 2000
}

.dialog_maximize {
    width: 14px;
    height: 15px;
    background: transparent url(/common/js/styles/default/maximize.gif) no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 49px;
    cursor: pointer;
    z-index: 2000
}

.dialog_title {
    float: left;
    height: 14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #000
}

.dialog_content {
    overflow: auto;
    color: #DDD;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background-color: #123
}

.bottom_draggable, .top_draggable {
    cursor: move
}

.status_bar {
    font-size: 12px
}

.status_bar input {
    font-size: 12px
}

.wired_frame {
    display: block;
    position: absolute;
    border: 1px #000 dashed
}

.dialog {
    display: block;
    position: absolute
}

.dialog table.table_window {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0
}

.dialog table.table_window td, .dialog table.table_window th {
    padding: 0
}

.dialog .title_window {
    -moz-user-select: none
}

.overlay_mac_os_x {
    background-color: #85BBEF;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.mac_os_x_nw {
    background: transparent url(/common/js/styles/mac_os_x/TL_Main.png) no-repeat 0 0;
    width: 24px;
    height: 30px
}

.mac_os_x_n {
    background: transparent url(/common/js/styles/mac_os_x/T_Main.png) repeat-x 0 0;
    height: 30px
}

.mac_os_x_ne {
    background: transparent url(/common/js/styles/mac_os_x/TR_Main.png) no-repeat 0 0;
    width: 31px;
    height: 30px
}

.mac_os_x_w {
    background: transparent url(/common/js/styles/mac_os_x/L_Main.png) repeat-y top left;
    width: 16px
}

.mac_os_x_e {
    background: transparent url(/common/js/styles/mac_os_x/R_Main.png) repeat-y top right;
    width: 16px
}

.mac_os_x_sw {
    background: transparent url(/common/js/styles/mac_os_x/BL_Main.png) no-repeat 0 0;
    width: 31px;
    height: 40px
}

.mac_os_x_s {
    background: transparent url(/common/js/styles/mac_os_x/B_Main.png) repeat-x 0 0;
    height: 40px
}

.mac_os_x_se, .mac_os_x_sizer {
    background: transparent url(/common/js/styles/mac_os_x/BR_Main.png) no-repeat 0 0;
    width: 31px;
    height: 40px
}

.mac_os_x_sizer {
    cursor: se-resize
}

.mac_os_x_close {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/close.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 25px;
    cursor: pointer;
    z-index: 1000
}

.mac_os_x_minimize {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/minimize.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 45px;
    cursor: pointer;
    z-index: 1000
}

.mac_os_x_maximize {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/maximize.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 65px;
    cursor: pointer;
    z-index: 1000
}

.mac_os_x_title {
    float: left;
    height: 14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    color: #000
}

.mac_os_x_content {
    overflow: auto;
    color: #222;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background: #FFF
}

.mac_os_x_s .status_bar {
    padding-bottom: 24px
}

* html .mac_os_x_nw {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TL_Main.png", sizingMethod="crop")
}

* html .mac_os_x_n {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/T_Main.png", sizingMethod="scale")
}

* html .mac_os_x_ne {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TR_Main.png", sizingMethod="crop")
}

* html .mac_os_x_w {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/L_Main.png", sizingMethod="scale")
}

* html .mac_os_x_e {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/R_Main.png", sizingMethod="scale")
}

* html .mac_os_x_sw {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BL_Main.png", sizingMethod="crop")
}

* html .mac_os_x_s {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/B_Main.png", sizingMethod="scale")
}

* html .mac_os_x_se {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR_Main.png", sizingMethod="crop")
}

* html .mac_os_x_sizer {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR_Main.png", sizingMethod="crop")
}

.overlay_blur_os_x {
    background-color: #85BBEF;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.blur_os_x_nw {
    background: transparent url(/common/js/styles/mac_os_x/TL.png) no-repeat 0 0;
    width: 24px;
    height: 30px
}

.blur_os_x_n {
    background: transparent url(/common/js/styles/mac_os_x/T.png) repeat-x 0 0;
    height: 30px
}

.blur_os_x_ne {
    background: transparent url(/common/js/styles/mac_os_x/TR.png) no-repeat 0 0;
    width: 31px;
    height: 30px
}

.blur_os_x_w {
    background: transparent url(/common/js/styles/mac_os_x/L.png) repeat-y top left;
    width: 16px
}

.blur_os_x_e {
    background: transparent url(/common/js/styles/mac_os_x/R.png) repeat-y top right;
    width: 16px
}

.blur_os_x_sw {
    background: transparent url(/common/js/styles/mac_os_x/BL.png) no-repeat 0 0;
    width: 31px;
    height: 40px
}

.blur_os_x_s {
    background: transparent url(/common/js/styles/mac_os_x/B.png) repeat-x 0 0;
    height: 40px
}

.blur_os_x_se, .blur_os_x_sizer {
    background: transparent url(/common/js/styles/mac_os_x/BR.png) no-repeat 0 0;
    width: 31px;
    height: 40px
}

.blur_os_x_sizer {
    cursor: se-resize
}

.blur_os_x_close {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/close.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 25px;
    cursor: pointer;
    z-index: 1000
}

.blur_os_x_minimize {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/minimize.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 45px;
    cursor: pointer;
    z-index: 1000
}

.blur_os_x_maximize {
    width: 19px;
    height: 19px;
    background: transparent url(/common/js/styles/mac_os_x/maximize.gif) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 65px;
    cursor: pointer;
    z-index: 1000
}

.blur_os_x_title {
    float: left;
    height: 14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    color: #000
}

.blur_os_x_content {
    overflow: auto;
    color: #222;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background: #FFF
}

.blur_os_x_s .status_bar {
    padding-bottom: 24px
}

* html .blur_os_x_nw {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TL.png", sizingMethod="crop")
}

* html .blur_os_x_n {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/T.png", sizingMethod="scale")
}

* html .blur_os_x_ne {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/TR.png", sizingMethod="crop")
}

* html .blur_os_x_w {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/L.png", sizingMethod="scale")
}

* html .blur_os_x_e {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/R.png", sizingMethod="scale")
}

* html .blur_os_x_sw {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BL.png", sizingMethod="crop")
}

* html .blur_os_x_s {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/B.png", sizingMethod="scale")
}

* html .blur_os_x_se {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR.png", sizingMethod="crop")
}

* html .blur_os_x_sizer {
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/common/js/styles/mac_os_x/BR.png", sizingMethod="crop")
}

.mac_os_x_buttons {
    text-align: center
}

.overlay_alert {
    background-color: #85BBEF;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.alert_nw {
    width: 5px;
    height: 5px;
    background: transparent url(/common/js/styles/alert/top_left.gif) no-repeat bottom left
}

.alert_n {
    height: 5px;
    background: transparent url(/common/js/styles/alert/top.gif) repeat-x bottom left
}

.alert_ne {
    width: 5px;
    height: 5px;
    background: transparent url(/common/js/styles/alert/top_right.gif) no-repeat bottom left
}

.alert_e {
    width: 5px;
    background: transparent url(/common/js/styles/alert/right.gif) repeat-y 0 0
}

.alert_w {
    width: 5px;
    background: transparent url(/common/js/styles/alert/left.gif) repeat-y 0 0
}

.alert_sw {
    width: 5px;
    height: 5px;
    background: transparent url(/common/js/styles/alert/bottom_left.gif) no-repeat 0 0
}

.alert_s {
    height: 5px;
    background: transparent url(/common/js/styles/alert/bottom.gif) repeat-x 0 0
}

.alert_se, .alert_sizer {
    width: 5px;
    height: 5px;
    background: transparent url(/common/js/styles/alert/bottom_right.gif) no-repeat 0 0
}

.alert_close {
    width: 0;
    height: 0;
    display: none
}

.alert_minimize {
    width: 0;
    height: 0;
    display: none
}

.alert_maximize {
    width: 0;
    height: 0;
    display: none
}

.alert_title {
    float: left;
    height: 1px;
    width: 100%
}

.alert_content {
    overflow: visible;
    color: #000;
    font-family: Tahoma, Arial, sans-serif;
    font: 12px arial;
    background: #FFF
}

.alert_window {
    background: #FFF;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

.alert_message {
    font: 12px arial;
    width: 100%;
    color: red;
    padding-bottom: 10px
}

.alert_buttons {
    text-align: center;
    width: 100%
}

.alert_buttons input {
    width: 20%;
    margin: 10px
}

.alert_progress {
    float: left;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 16px;
    background: #FFF url(/common/js/styles/alert/progress.gif) no-repeat center center
}

.ac_holder {
    position: relative
}

.ac_field {
    background-image: url(/common/js/styles/autocomplete/autocomplete_leftcap.gif);
    background-position: right center;
    background-repeat: no-repeat
}

.ac_field_busy {
    background-image: url(/common/js/styles/autocomplete/autocomplete_spinner.gif);
    background-position: right center;
    background-repeat: no-repeat
}

div.autocomplete {
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 1px 0 0 0
}

div.autocomplete div.ac_footer, div.autocomplete div.ac_header {
    position: relative;
    height: 4px;
    padding: 0 6px;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden
}

div.autocomplete div.ac_footer div.ac_corner, div.autocomplete div.ac_header div.ac_corner {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 4px;
    background-color: #fff;
    background-position: top left;
    background-repeat: no-repeat
}

div.autocomplete div.ac_footer div.ac_bar, div.autocomplete div.ac_header div.ac_bar {
    height: 4px;
    overflow: hidden;
    background-color: #fff
}

div.autocomplete ul {
    list-style: none;
    margin: 0 0 -4px 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff
}

div.autocomplete ul li {
    color: #ccc;
    padding: 0;
    margin: 0 1px 1px;
    text-align: left
}

div.autocomplete ul li a {
    color: #666;
    display: block;
    text-decoration: none;
    background-color: transparent;
    text-shadow: #aaa 0 0 2px;
    position: relative;
    padding: 0;
    width: 100%
}

div.autocomplete ul li a:hover {
    background-color: #888
}

div.autocomplete ul li.ac_highlight a:hover {
    background-color: #1B5CCD
}

div.autocomplete ul li a span {
    display: block;
    padding: 1px 4px
}

div.autocomplete ul li a span small {
    font-weight: 400;
    color: #999
}

div.autocomplete ul li.ac_highlight a span small {
    color: #ccc
}

div.autocomplete ul li.ac_highlight a {
    color: #555;
    background-color: #F5EDA0;
    background-position: bottom right;
    background-repeat: no-repeat
}

div.autocomplete ul li.ac_highlight a span {
    background-position: bottom left;
    background-repeat: no-repeat
}

div.autocomplete ul li a .tl, div.autocomplete ul li a .tr {
    background-image: transparent;
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0
}

div.autocomplete ul li a .tr {
    right: 0
}

div.autocomplete ul li.ac_highlight a .tl {
    left: 0;
    background-position: bottom left
}

div.autocomplete ul li.ac_highlight a .tr {
    right: 0;
    background-position: bottom right
}

div.autocomplete ul li.as_warning {
    text-align: center
}

div.autocomplete ul em {
    font-style: normal;
    color: #800040
}