<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>JiveJdon</display-name>
    <description>A forum with Jdon Framework</description>
    <context-param>
        <param-name>aspectConfigure</param-name>
        <param-value>/WEB-INF/myaspect.xml</param-value>
    </context-param>
    <filter>
        <filter-name>IPForwardingFilter</filter-name>
        <filter-class>com.jdon.jivejdon.presentation.filter.IPForwardingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>
            com.jdon.util.SetCharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
   
    <filter>
        <filter-name>rewriteFilter</filter-name>
        <filter-class>
            org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
        </filter-class>
    </filter>
    <filter>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <filter-class>
            com.jdon.jivejdon.presentation.filter.DisableUrlSessionFilter
        </filter-class>
    </filter>
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>com.jdon.jivejdon.presentation.filter.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresDefault</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 30 days</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 30 days</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/javascript</param-name>
            <param-value>access plus 30 days</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>IPForwardingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
    <filter-mapping>
        <filter-name>rewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            com.jdon.jivejdon.presentation.listener.UserCounterListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>
            org.apache.struts.action.ActionServlet
        </servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,/WEB-INF/struts-config-account.xml,/WEB-INF/struts-config-forum.xml,/WEB-INF/struts-config-message.xml,/WEB-INF/struts-config-query.xml,/WEB-INF/struts-config-admin.xml,/WEB-INF/struts-config-upload.xml,/WEB-INF/struts-config-shortmessage.xml,/WEB-INF/struts-config-blog.xml,/WEB-INF/struts-config-subscription.xml,/WEB-INF/struts-config-oauth.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>jasslogin</servlet-name>
        <servlet-class>
            com.jdon.security.web.LoginServlet
        </servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>/account/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>logout</param-name>
            <param-value>/account/logout.jsp</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RandomcodeServlet</servlet-name>
        <servlet-class>
            com.jdon.jivejdon.presentation.servlet.RegisterCodeAction
        </servlet-class>
        <init-param>
            <param-name>referrer.domain.namePattern</param-name>
            <param-value>.*(jdon|localhost|127.0.0.1|110.76.43.83|192.168).*</param-value>
        </init-param>
        <init-param>
            <param-name>referrer.robotCheck.userAgentPattern</param-name>
            <param-value>.*(bot|spam|spider).*</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>verifySpammer</servlet-name>
        <servlet-class>
            com.jdon.jivejdon.presentation.servlet.VerifySpammerAction
        </servlet-class>

    </servlet>
    <servlet>
        <servlet-name>RSSGenServlet</servlet-name>
        <servlet-class>
            com.jdon.jivejdon.presentation.servlet.RSSGenServlet
        </servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>解道jdon.com</param-value>
        </init-param>
        <init-param>
            <param-name>description</param-name>
            <param-value>探索 分享 交流 解惑 授道
                。更多关注见https://www.jdon.com/followus.html
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SitemapServlet</servlet-name>
        <servlet-class>
            com.jdon.jivejdon.presentation.sitemap.SitemapServlet
        </servlet-class>
        <init-param>
            <param-name>sitemapUrl</param-name>
            <param-value>https://www.jdon.com/sitemap</param-value>
        </init-param>
        <init-param>
            <param-name>threadUrl</param-name>
            <param-value>https://www.jdon.com/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>RSSGenServlet</servlet-name>
        <url-pattern>/RSServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitemapServlet</servlet-name>
        <url-pattern>/sitemap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomcodeServlet</servlet-name>
        <url-pattern>/account/registerCodeAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifySpammer</servlet-name>
        <url-pattern>/verifySpammer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.shtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jasslogin</servlet-name>
        <url-pattern>/jasslogin</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/503.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/common/permError.jsp?error=500</location>
    </error-page>

    <taglib>
        <taglib-uri>struts-bean</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-html</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-logic</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/MultiPages.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/MultiPages.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/MultiPagesREST.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/MultiPagesREST.tld</taglib-location>
    </taglib>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/JiveJdonDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/SecurityDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>JavaMail</description>
        <res-ref-name>mail/Session</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-constraint>
        <display-name>admin security</display-name>
        <web-resource-collection>
            <web-resource-name>Admin input</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>forum admin</web-resource-name>
            <url-pattern>/forum/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>User security</display-name>
        <web-resource-collection>
            <web-resource-name>User post message</web-resource-name>
            <url-pattern>/message/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>User register</web-resource-name>
            <url-pattern>/account/protected/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>User shotmessage</web-resource-name>
            <url-pattern>/shortmessage/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>User mobile send message</web-resource-name>
            <url-pattern>/mobile/message/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Social</web-resource-name>
            <url-pattern>/social/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>blog</web-resource-name>
            <url-pattern>/blog/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>mobile blog</web-resource-name>
            <url-pattern>/mobile/blog/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>User</role-name>
            <role-name>SinaUser</role-name>
            <role-name>TecentUser</role-name>
            <role-name>OAuthUser</role-name>

            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jasslogin</form-login-page>
            <form-error-page>/account/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>administrator</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>register user</description>
        <role-name>User</role-name>
    </security-role>
    <security-role>
        <description>Sina weibo user</description>
        <role-name>SinaUser</role-name>
    </security-role>
    <security-role>
        <description>Tecent weibo user</description>
        <role-name>TecentUser</role-name>
    </security-role>
    <security-role>
        <description>OAuthUser user</description>
        <role-name>OAuthUser</role-name>
    </security-role>


</web-app>

