/*- Menu Tabs 10--------------------------- */

#tabs10 {
  float:left;
  width:100%;
  font-size:11px;
  border-bottom:1px solid #E5EDF3;
  line-height:normal;
  }
#tabs10 ul {
	  margin:0;
	  padding:0;
	  list-style:none;
  }
#tabs10 li {
  display:inline;
  margin:0;
  padding:0;
  }
#tabs10 a {
  float:left;
  background:url("../../images/tableft10.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  }
#tabs10 a span {
  float:left;
  display:block;
  background:url("../../images/tabright10.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#FFF;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs10 a span {float:none;}
/* End IE5-Mac hack */
#tabs9 a:hover span {
  color:#FFF;
  }
#tabs10 a:hover {
  background-position:0% -42px;
  }
#tabs10 a:hover span {
  background-position:100% -42px;
  }

  #tabs10 .current a {
		  background-position:0% -42px;
  }
  #tabs10 .current a span {
		  background-position:100% -42px;
  }